$screen-small: 0px;
$screen-medium: 750px;
$screen-large: 1170px;

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../assets/fonts/Lato-Regular.ttf');
}

.save-button {
    margin-top:52px;
    width: 242px;
    height: 52px;
    background-color: #4990E2;
    font-family: 'Lato-Regular';
    color: white;
    font-size: 16px;
}
.save-button:focus { outline: none; }

.back-button {
    color: #4A90E2;
    font-size: 16px;
    font-family: 'Lato-Regular';
    margin-top:27px;
}
.back-button:focus { outline: none; }

.save-button:hover{
    background-color: #5E9BE2 ;
}

.preferences-container{  
        @media (min-width: $screen-small) {
            padding-left: 30px;
            padding-right: 15px;
            padding-top: 55px;
        }
        
        @media (min-width: $screen-medium) {
            padding-top: 55px;
            padding-left: 40px;
            padding-right: 40px;
        }
        
        @media (min-width: $screen-large) {
            padding-left: 130px;
            padding-right: 131px;
            padding-top: 76px;
        }
}

.preferences-container h2{
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 24px;
    color: #3E433E;
    margin-bottom: 63px;
}

.interests-list{
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0px;
    li{
        display: inline;
    }
}

.btn-preference {
    border: 1px solid;
    font-size: 14px;
    border-radius: 100px;
    outline:none;
    font-family: 'Lato-Regular';
    background-color: white;
    height: 28px;
}

.btn-politics {
    color: #D0011B;
    border-color: #D0021B;
    width: 97px;
    margin-right:14px; 
}

.btn-politics:hover{
    color: white;
    background-color: #D0021B;
}

.btn-politics:focus { outline: none; }

.btn-business {
    color: #BD10E0;
    border-color: #BD10E0;
    width: 100px;
    margin-right:10px;
}

.btn-business:focus { outline: none; }

.btn-business:hover{
    color: white;
    background-color: #BD10E0;
}

.btn-tech:focus { outline: none; }

.btn-tech {
    color: #4A90E2;
    border-color: #4A90E2;
    width: 73px;
    margin-right:15px;
}

.btn-tech:hover{
    color: white;
    background-color: #4A90E2;
}

.btn-science {
    color: #7CBB37;
    border-color: #7CBB37;
    width: 94px;
    margin-right:10px;
}
.btn-science:focus { outline: none; }

.btn-science:hover{
    color: white;
    background-color: #7CBB37;
}

.btn-sports:focus { outline: none; }

.btn-sports{
    color: #F5A623;
    border-color: #F5A623;
    width: 88px;
}

.btn-sports:hover{
    color: white;
    background-color: #F5A623;
}

.button-container{
    display: flex; justify-content: center;
}

.interests {
    font-size: 14px;
    font-family: 'Lato-Regular';
    margin-bottom: 19px;

    @media (min-width: 200px) {
        margin-left: -175px;
    }

    @media (min-width: 468px) {
        margin-left: -310px;
    }
    
    @media (min-width: 555px) {
        margin-left: -400px;
    }
    
    @media (min-width: 750px) {
        margin-left: -400px;
    }
}

.interest-container{
    text-align: center;
}

#username{
    font-family: Lato-Regular;
    font-size: 24px;
    color: #4990E2;
    line-height: 29px;
}