$screen-small: 0px;
$screen-medium: 750px;
$screen-large: 1170px;

.news-container{
    
    @media (min-width: $screen-small) {
        padding-left: 30px;
        padding-right: 15px;
        padding-top: 55px;
    }
    
    @media (min-width: $screen-medium) {
        padding-top: 55px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    @media (min-width: $screen-large) {
        padding-left: 130px;
        padding-right: 131px;
        padding-top: 76px;
    }
}