@font-face {
    font-family: 'Lato-Regular';
    src: url('../../assets/fonts/Lato-Regular.ttf');
}

.login-container{
    $screen-small: 0px;
    $screen-medium: 750px;
    $screen-large: 1170px;
    
        
        @media (min-width: $screen-small) {
            padding-left: 30px;
            padding-right: 15px;
            padding-top: 55px;
        }
        
        @media (min-width: $screen-medium) {
            padding-top: 55px;
            padding-left: 40px;
            padding-right: 40px;
        }
        
        @media (min-width: $screen-large) {
            padding-left: 130px;
            padding-right: 131px;
            padding-top: 76px;
        }
}

.login-container h2{
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 24px;
    color: #3E433E;
    margin-bottom: 63px;
}

.login-container form{
    text-align: center; 
}

.form-field {
    display: 'block';
    margin-bottom: 21px;
    label{
        text-align: left;
        font-family: 'Lato-Regular';
        font-size: 14px;
        color:#3E433E ;
    }
    input {
        width: 242.1px;
        border: 1px solid #BFBFBF;
    }
}

.login-button {
    width: 242px;
    height: 52px;
    background-color: #4990E2;
    a{
        color: white;
        font-family: 'Lato-Regular';
        font-size: 16px;
    }
}

.login-button:hover{
    background-color: #5E9BE2 ;
}