$screen-small: 401px;
$screen-medium: 750px;

.nav-item{
    font-family: url('../../assets/fonts/Lato-Regular.ttf');
    font-size: 14px;
    color: #3E433E;
}

.logo {
    text-align: left;
}

.nav-menu {
    border-bottom: 1px solid #979797;
    list-style: none;
    height: 56px;
    flex:1;
    justify-content: 'center';
    align-items: center;
}

#col-logo{
    padding-left: 131px; 
}

#col-menu{
    padding-right: 139px;
}

#burger-menu {
    @media (max-width: $screen-small) {
        padding-left: 19px;
    }
    @media (max-width: $screen-medium) {
     padding-left: 52px;
    }
}