.news-type{
    font-family: url('../../assets/fonts/Lato-Regular.ttf');
    font-size: 10px;
}

.author-image{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.author-name{
    color: #808080;
    font-size: 13px;
    font-family: 'OpenSans';
    font-style: italic;
    margin-left: 10px;
}

.news-text {
    font-family: 'OpenSans';
    color:#686868;
    font-size: 14px;
}