$screen-small: 321px;
$screen-medium: 750px;

$menu-width:250px;

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../assets/fonts/Lato-Bold.ttf');
}

.nav-item{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #3E433E;
}

.burger-menu-options {
    padding-left: 25px;
    padding-top: 24px;
    width: 320px;

    @media (min-width: $screen-small) {
        width: $menu-width;
    }

    color: white;
}

.burger-menu-options li{
    padding-bottom: 31px;
}

.pull-right {
    text-align: right;
}

.nav-list li{ 
    display: inline;
    margin-left: 17px;
}

.nav-list {
    padding-top: 10px;
}

#login-link a{
    color: #4990E2;
    font-family: 'Lato-Bold';
    @media (min-width: $screen-medium) {
        margin-left: 54px;
    }
}

#menu-container {
    @media (max-width: $screen-medium) {
        position: absolute;
    }
    z-index: 1;
    background-color: white;
    height: 100%;
}